<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div style="justify-content: center; flex-direction: row">
    {% if not isAuth %}
            <button type="button" class="btn btn-primary" onclick="window.location='/login/';">Вход</button>
            <button type="button" class="btn btn-secondary" onclick="window.location='/register/';">Регистрация</button>
    {% else %}
            <button type="button" class="btn btn-success" onclick="window.location='/users/';">Посмотреть список пользователей</button>
            <button type="button" class="btn btn-danger">Посмотреть своих друзей</button>
            <button type="button" class="btn btn-warning">Посмотреть входящие заявки</button>
            <button type="button" class="btn btn-info">Посмотреть исходящие заявки</button>
            <button type="button" class="btn btn-light">Посмотреть все заявки</button>
            <button type="button" class="btn btn-danger" onclick="window.location='/logout';">Выйти</button>
    {% endif %}
</div>
</body>
</html>