<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
</head>
<body>
    <h1>Список пользователей</h1>
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for one_record in result %}
            <tr>
                <td>{{ one_record.0.username }}</td>
                <td>{{ one_record.1 }}</td>
                <td>
                    <form action="{% url 'add_friend' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ one_record.0.id }}">
                        <button type="submit">Добавить в друзья</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
